.form-control{
    text-align: center;
    background-color: rgba(189, 184, 216, 0.678);
    padding: 10px;
    margin: 10px;
    
    
}
.form-control1{
    padding: 10px;
    margin: 10px;
}
.form-control2{
    padding: 10px;
    margin: 10px;
}.form-control3{
    padding: 10px;
    margin: 10px;
}.form-control4{
    padding: 10px;
    margin: 10px;
}.form-control5{
    padding: 10px;
    margin: 10px;
    
}.form-control6{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}.form-control7{
    padding: 10px;
    margin: 10px;
}.form-control8{
    padding: 10px;
    margin: 10px;
}.form-control9{
    padding: 10px;
    margin: 10px;

}
.form-control10{
    padding: 10px;
    margin: 10px;
}

.form-control11{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}
/* .Back{
    display: grid;
    place-content: center;
} */
.Bye{
    text-align: center;
}
.form-controll{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);

}
.form-controlj{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);

}
.form-controlk{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);
}
.form-control12{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}
.form-control13{
    padding: 10px;
    margin: 10px;
}.form-control14{
    padding: 10px;
    margin: 10px;
}.form-control15{
    padding: 10px;
    margin: 10px;
}.form-control16{
    padding: 10px;
    margin: 10px;
}.form-control17{
    padding: 10px;
    margin: 10px;
}.form-control18{
    padding: 10px;
    margin: 10px;
}.form-control19{
    padding: 10px;
    margin: 10px;
}.form-control20{
    padding: 10px;
    margin: 10px;
}.form-control21{
    padding: 10px;
    margin: 10px;
}.form-control22{
    padding: 10px;
    margin: 10px;
}.form-control23{
    padding: 10px;
    margin: 10px;
}.form-control24{
    padding: 10px;
    margin: 10px;
}.form-control25{
    padding: 10px;
    margin: 10px;
}.form-control26{
    padding: 10px;
    margin: 10px;
}.form-control27{
    padding: 10px;
    margin: 10px;
}.form-control28{
    padding: 10px;
    margin: 10px;
}.form-control29{
    padding: 10px;
    margin: 10px;
}.form-control30{
    padding: 10px;
    margin: 10px;
}.form-control31{
    padding: 10px;
    margin: 10px;
}.form-control32{
    padding: 10px;
    margin: 10px;
}.form-control33{
    padding: 10px;
    margin: 10px;

}
.form-controlm{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);
}
.form-control20{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}
.form-controln{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);
}
.form-control24{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}
.form-controlo{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);
}
.form-control27{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}
.form-controlp{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);
}
.form-control27{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}.form-controlq{
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 100px;
    background-color: rgba(189, 184, 216, 0.678);
}
.form-control33{
    padding: 10px;
    margin: 10px;
    width: 900px;
    height: 100px;
}
::placeholder{
    color: black;
}